.designList {
  background-color: #fffaf9;
  padding: 60px 20px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #d598ac;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  justify-items: center;
}

.imageBox img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  max-width: 280px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
