*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans JP', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:lang(en),
h1, h2, h3, h4, h5, h6,
.caption strong,
.title {
  font-family: 'Playfair Display', serif;
}

#root {
  overflow-x: hidden;
  max-width: 100vw;
}

/* 全体のUI・モバイル調整 */
@media (max-width: 768px) {
  body {
    -webkit-tap-highlight-color: transparent;
  }
}
